In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
features = pd.read_csv('../data/gaze/fixations_features.csv')
fixations = pd.read_csv('../data/gaze/fixations_with_ROI.csv')
features['Trial'] = features['Trial'] + 1
features['Fixation #'] = features['Fixation #'] + 1
fixations = fixations.drop([31023]).reset_index().drop(columns=['index'])
features['Subject'] = features['Subject'].astype(np.int64)
fixations['Subject'] = fixations['Subject'].astype(np.int64)
features['Trial'] = features['Trial'].astype(np.int64)
fixations['Trial'] = fixations['Trial'].astype(np.int64)
features['Fixation #'] = features['Fixation #'].astype(np.int64)
fixations['Fixation #'] = fixations['Fixation #'].astype(np.int64)
assert len(features) == len(fixations)
assert type(fixations['Subject'][0]) == type(features['Subject'][0])
assert type(fixations['Trial'][0]) == type(features['Trial'][0])
assert type(fixations['Fixation #'][0]) == type(features['Fixation #'][0])

In [3]:
index_ = ['Subject', 'Trial', 'Fixation #']
joined_df = pd.concat([features.set_index(index_), fixations.set_index(index_)],  axis=1, sort=False).reset_index()
joined_df

,Subject,Trial,Fixation #,Fixation feature,X_Coord,Y_Coord,ROI
0,23,1,1,[ 3.06051144e-01 -1.30341645e-01 1.62933654e-...,1047.20,514.04,eye
1,23,1,2,[ 3.50855811e-02 -5.18709748e-02 1.61105833e-...,1016.25,509.67,eye
2,23,1,3,[ 4.49087073e-02 -6.31503363e-02 1.21064471e-...,1007.49,500.50,eye
3,23,1,4,[ 3.64830356e-02 -5.86554676e-02 1.63966291e-...,1001.82,492.26,eye
4,23,1,5,[ 1.52249978e-01 -4.07425090e-02 2.37095826e-...,1007.33,494.06,eye
...,...,...,...,...,...,...,...
222858,8,160,43,[ 2.26870711e-01 -4.44568494e-02 1.97219841e-...,920.54,503.75,eye
222859,8,160,44,[ 4.35224840e-02 -2.47601436e-02 7.67271852e-...,996.49,634.44,mouth_nose
222860,8,160,45,[ 4.49201503e-01 -7.77821673e-02 2.85494145e-...,996.55,632.51,mouth_nose
222861,8,160,46,[ 7.44541030e-02 -2.51476509e-02 2.43443266e-...,800.13,856.97,NaN
222862,8,160,47,[ 2.44617367e-01 -5.00950385e-02 2.85227830e-...,798.84,861.16,NaN

In [4]:
def custom_parse_data(X):
  res_x =[]
  for i in range(len(X)):
    string = X[i]
    new_string = re.sub(r'\s+', ',', string)
    string_list = list(new_string)
    string_list[1] = ''
    new_string = ''.join(string_list)
    res_x.append(np.fromstring(new_string.strip('[]'), dtype=float, sep=','))

  return np.array(res_x)

array_feature = custom_parse_data(joined_df['Fixation feature'])

In [5]:
len(joined_df)

222863

In [6]:
array_feature.shape

(222863, 13)

In [7]:
joined_df['Fixation feature'] = [x for x in array_feature]
joined_df

,Subject,Trial,Fixation #,Fixation feature,X_Coord,Y_Coord,ROI
0,23,1,1,"[0.306051144, -0.130341645, 0.162933654, 0.149...",1047.20,514.04,eye
1,23,1,2,"[0.0350855811, -0.0518709748, 0.161105833, 0.0...",1016.25,509.67,eye
2,23,1,3,"[0.0449087073, -0.0631503363, 0.121064471, 0.0...",1007.49,500.50,eye
3,23,1,4,"[0.0364830356, -0.0586554676, 0.163966291, 0.0...",1001.82,492.26,eye
4,23,1,5,"[0.152249978, -0.040742509, 0.237095826, 0.133...",1007.33,494.06,eye
...,...,...,...,...,...,...,...
222858,8,160,43,"[0.226870711, -0.0444568494, 0.197219841, 0.20...",920.54,503.75,eye
222859,8,160,44,"[0.043522484, -0.0247601436, 0.0767271852, 0.0...",996.49,634.44,mouth_nose
222860,8,160,45,"[0.449201503, -0.0777821673, 0.285494145, 0.34...",996.55,632.51,mouth_nose
222861,8,160,46,"[0.074454103, -0.0251476509, 0.0243443266, 0.0...",800.13,856.97,NaN
222862,8,160,47,"[0.244617367, -0.0500950385, 0.28522783, 0.216...",798.84,861.16,NaN

In [8]:
joined_df.to_csv('../data/gaze/joined_fixation.csv')

In [6]:
features_sacca = pd.read_csv('../data/gaze/saccades_features.csv')
saccades = pd.read_csv('../data/gaze/saccades_with_ROI.csv')
assert len(features_sacca) == len(saccades)

AssertionError:

In [7]:
saccades.shape

(137397, 9)

In [8]:
features_sacca.shape

(137408, 4)